@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'Quicksand';
}

header {
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    background-color: #0E2A71;
    transition: background-color 0.3s;
    z-index: 1;
    
    .container {
        display: flex;

        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 0px 20px;
            width: 100%;
            
            .logo {
                width: 50px;
                height: 50px;
                background-image: url('../imgs/NUVEMBRANCA.png');
                background-size: cover;
            }
            
            .entrar {
                width: 50px;
                height: 50px;
                background-image: url('../imgs/entrar2-removebg-preview.png');
                background-size: cover;
                transition: transform 0.5s ease;

                button{
                    width: 50px;
                    height: 50px;
                    background-color: rgba(0, 0, 0, 0);
                    border: 2px solid rgba(0, 0, 0, 0);  
                    background-size: cover;
                }
            }
        }
        .opcoes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 600px;
            min-width: 450px;
            font-size: 20px;
            font-weight: bold;
            padding-left: 20px;
            padding-right: 20px;
        }
        .opcao{
            display: inline-block;
            text-decoration: none;
            color: whitesmoke;
            transition: transform 0.3s;
        }
    }
}

header .entrar:hover {
    transform: scale(1.2);
    cursor: pointer;
}
header .opcao:hover {
    transform: scale(1.2);
    cursor: pointer;
}

header.scrolled {
    background-color: whitesmoke;
    box-shadow:  0 4px 20px rgba(0, 0, 0, 0.5);
}

header.scrolled .container .navbar .opcoes .opcao{
    color: black;
}

header.scrolled .container .navbar .logo {
    width: 50px;
    height: 50px;
    background-image: url('../imgs/NUVEMSEMFUNDO.png');
    background-size: cover;
}

header.scrolled .container .navbar .entrar {
    width: 50px;
    height: 50px;
    background-image: url('../imgs/entrar-removebg-preview.png');
    background-size: cover;
    transition: transform 0.5s ease;
}


.login {
    padding-top: 50px;
    position: fixed;
    z-index: 2;
    height: max-content;
    background-color: rgb(245, 245, 245);
    right: 0;
    width: 400px;
    height: 100%;
    display: none;
    flex-direction: column;
    transition: transform ease;
}

.login #sair {
    position: absolute;
    font-size: 40px;
    top: 15px;
    right: 5%;
    font-weight: bold;
    border: transparent;
    height: 40px;
    width: 40px;
    background-color: transparent;
    transition: transform 0.5s ease;
}

.login #sair:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.login .container {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.login input{
    border: 1px solid black;
    border-radius: 5px;
    height: 40px;
    outline: none;
}

.login h1{
    font-size: 40px;
}

.login button{
    cursor: pointer;
    border: transparent;
    border-radius: 5px;
    font-size: 30px;
    text-align: start;
    height: 40px;
    margin-bottom: 20px;
}

.login #entrar{
    background-color: #092f94;
    opacity: 0.8;
    transition: opacity 0.5s;
    font-weight: bold;
}

.login #entrar:hover{
    opacity: 1;
}

.login #cadastro{
    background-color: transparent;
}
/*Fim da estilização do Header*/


/*Começo da estilização da tela dos nossos serviços*/
.servicos {
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-size: cover;
    background-position: center;
    background-color: #0E2A71;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding-top: 80px;
    height: 500px;
}

.servicos .mensagem-servicos {
    height: 80%;
    width: 70%;
    padding-top: 5%;
    text-align: justify;
}

.servicos .mensagem-servicos h2 {
    margin-bottom: 20px;
    color: #a4bcfc;
    text-align: justify;
}

.servicos .mensagem-servicos span{
    color: #fff;
    text-align: justify;
}

.monitoramento, .alerta{
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.relatorio, .suporte{
    width: 100%;
    height: 600px;
    font-size: 30px;
    background-color: #0E2A71;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monitoramento, .alerta h2{
    color: #0E2A71;
}
.monitoramento .monitoramento-texto span,
.alerta .alerta-texto span{
    color: #000;
}


.relatorio, .suporte h2{
    color: #a4bcfc
}

.relatorio .relatorio-texto span,
.suporte .suporte-texto span
{
    color: #fff;    
}

.monitoramento .monitoramento-texto,
.relatorio .relatorio-texto,
.alerta .alerta-texto,
.suporte .suporte-texto{
    height: 50%;
    width: 50%;
}




/*Começo da estilização do footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0E2A71, #000000);
    background-size: cover;
    width: 100%;
    height: 300px;
}



.footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    font-size: 24px;
    
    color: #f5f5f5;

}

.footer .container .caixa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;

    height: 100px;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #f5f5f5;
    }

    a {
        font-size: 18px;
        color: #EEEEEE;
    }

    .icones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.footer .container .caixa1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    height: 70px;
    span {
        font-size: 24px;
        font-weight: bold;
        color: #EEEEEE;
    }

    a {
        font-size: 18px;
        color: #EEEEEE;
    }

    .icones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}